@use 'src/variables' as global_var;

.umbrella-div {
  width: auto;
  max-height: calc(100% - 60px);
  height: calc(100% - 60px);
  margin: 30px;
  overflow: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  & .umbrella-info {
    width: 100%;
    height: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .umbrella-message {
      font-size: 20px;
      text-align: center;
      margin-top: 20px;

      &.ok {
        color: #00ff00;
      }
      &.error {
        color: #f72119;
      }
    }

    & .umbrella-animation {
      height: 80%;
      width: auto;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & img {
        height: 100%;
        width: auto;
        border-radius: 50%;
        border: 4px solid;
        box-sizing: border-box;
        background-color: #000;
        border-color: #000;

        &.ok {
          background: linear-gradient(to top, #00ff00 50%, transparent 0);
          background-size: 100% 200%;
          background-position: top;
          animation: makeItfadeIn 1.5s forwards ease-in-out;
          border-color: #00ff00;
        }
        &.error {
          background: linear-gradient(to top, #f72119 50%, transparent 0);
          background-size: 100% 200%;
          background-position: top;
          animation: makeItfadeIn 1.5s forwards ease-in-out;
          border-color: #f72119;
        }
      }
    }
  }
}

@keyframes makeItfadeIn {
  100% {
    background-position: bottom;
  }
}

.subscription-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35%;

  & .subscription-message {
    text-align: center;

    & span {
      font-size: 18px;
      font-weight: bold;
      color: #cc2bf6;
    }
  }
  & .subscription-input {
    margin-top: 15px;
    width: 80%;

    &::ng-deep .mat-form-field {
      font-size: 14px;
      height: 50px;
      width: 100%;

      input {
        caret-color: #cc2bf6;
      }

      & .mat-form-field-label,
      & .mat-form-field-outline {
        color: #fff;
      }

      &.mat-focused {
        & .mat-form-field-label {
          color: #ddd !important;
        }

        & .mat-form-field-outline {
          color: #ddd !important;
        }
      }

      & .mat-form-field-suffix {
        cursor: pointer;
        transform: rotate(-30deg);
        position: relative;
        top: -1px;
      }
    }
  }
}

::ng-deep .subscription-tooltip {
  border-radius: global_var.$border-radius-size !important;
  border: 1px solid #ddd;
  background-color: #000;
}
