<mat-toolbar>
    <button mat-icon-button (click)="onClick()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <div class="umbrella-title" routerLink="umbrella">
        <span class="umbrella-text">umbre??a</span>
        <img src="assets/img/umbrella.png" alt="umbrella-logo">
    </div>
    <span class="spacer"></span>
    <a href="https://www.linkedin.com/in/apampin" target="_blank">
        <img src="assets/img/linkedIn-logo.png" alt="linkedIn-logo">
    </a>
</mat-toolbar>