{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 120,
  "endOfLine": "crlf",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "useTabs": false,
  "tabWidth": 2
}
