@use 'src/variables' as global_var;

.mat-toolbar {
  width: calc(100% - 2 * global_var.$margin-between-elements);
  height: global_var.$header-height;
  margin-left: global_var.$margin-between-elements;
  margin-bottom: global_var.$margin-between-elements;
  border-radius: global_var.$border-radius-size;
  background-color: #000;
  color: #fff;

  position: relative;
  top: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.umbrella-title {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;

  .umbrella-text {
    font-size: 35px;
    font-weight: bolder;
    background-image: linear-gradient(-180deg, #7615f5 15%, #cc2bf6 85%);
    background-clip: text;
    color: transparent;
  }

  img {
    margin-left: 8px;
    height: 30px;
    transform: rotate(global_var.$base-rotation);
  }

  &:hover {
    & > img {
      animation: tilt-shaking 1.5s infinite;
    }
  }
}

a {
  display: flex;
  align-items: center;

  img {
    width: 20px;
    height: 20px;
  }
}
