<app-header (toggleEvent)="sidenav.toggle()"></app-header>

<mat-sidenav-container [hasBackdrop]="hasBackdrop">
  <mat-sidenav class="mat-elevation-z8" #sidenav="matSidenav" [opened]="true" mode="side">
    <img class="avatar mat-elevation-z8" src="/assets/img/gatr.png" />

    <h3 class="name">Alberto Pampín</h3>
    <h4 class="designation">Software Engineer</h4>

    <mat-divider></mat-divider>
    <button mat-button class="menu-button umbrella-button" routerLink="umbrella">
      <span>
        Umbre??a
        <img src="assets/img/umbrella-img/umbrella.png" alt="umbrella-logo" class="inline-umbrella-img">
      </span>
    </button>
    <button mat-button class="menu-button" routerLink="about">
      <span> About </span>
      <mat-icon> info </mat-icon>
    </button>
    <button mat-button class="menu-button" (click)="toggleBadgeVisibility()" routerLink="profile">
      <span> Profile </span>
      <mat-icon matBadge="!" [matBadgeHidden]="hideBadge" matBadgeSize="small"> person </mat-icon>
    </button>

    <mat-divider></mat-divider>

    <div class="img-link-div">
      <a href="https://www.linkedin.com/in/apampin" target="_blank">
        <img src="assets/img/linkedIn-logo.png" alt="linkedIn-logo">
      </a>

      <a href="https://github.com/albertopmp/UmbrellaProject" target=" _blank">
        <img src="assets/img/github-negative-logo.png" alt="github-logo">
      </a>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>