<div class="buttons-div">
  <span>
    A brief explanation of Umbre??a
    <img src="assets/img/umbrella-img/umbrella.png" alt="umbrella-logo" class="inline-umbrella-img">
  </span>
  <div class=" img-outline" matTooltip="Collapse All" matTooltipShowDelay="500" matTooltipPosition="above"
    matTooltipClass="collapse-tooltip" (click)="collapseAll()">
    <img src="assets/img/about-img/collapse.png">
  </div>
</div>
<div class="info-div">
  <mat-accordion multi #accordion=matAccordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span>Umbre??a
            <img src="assets/img/umbrella-img/umbrella.png" alt="umbrella-logo" class="inline-umbrella-img">
            Purpose
          </span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p> The purpose of this project was to get hands-on experience with AWS Services. As I was learning to become AWS
        Cloud Practitioner Certified, I wanted to get my hands dirty and apply all the things I'd been learning during
        the preparation of the certificate. </p>

      <p>I saw that many people have taken the <a href="https://cloudresumechallenge.dev/" target="_blank"> Cloud Resume
          Challenge</a>
        as a way to advance their cloud career. Nevertheless, I wanted to do something different and develop a project
        of my own, solving along the way an issue that I'd been facing since I was just a little boy: always
        forgetting my umbrella when it rains!</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          How It Works
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Architecture
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>With the purpose of making the most out of this project regarding learning AWS, I'll try to make use of as
        many services as I can. I'm sure that there would be better solutions or services that are a better fit;
        however, that's not what I'm intending with this project</p>

      <p>I'll only make use of <a href="https://aws.amazon.com/free">AWS
          Free Tier</a>, as I want this project to be accessible without incurring any costs. </p>

      <img src="assets/img/gatr.png">
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Involved Services
        </mat-panel-title>
      </mat-expansion-panel-header>
      <img src="assets/img/about-img/architecture.png" width="100%">
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Next Steps
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>The following list contains features that could be improve the overall experience of Umbre??a
        <img src="assets/img/umbrella-img/umbrella.png" alt="umbrella-logo" class="inline-umbrella-img">
      </p>
      <ul>
        <li>Let users specify their Time Zone and Notification time</li>
      </ul>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          This is the expansion title
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          This is the expansion title
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          This is the expansion title
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>