<div class="profile-div">
    <div class="list-div">
        <mat-list>
            <mat-list-item (click)="onListItemClick('cloud')">
                <mat-icon mat-list-icon>cloud</mat-icon>
                <div mat-line>Cloud Journey</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item (click)="onListItemClick('edu')">
                <mat-icon mat-list-icon>school</mat-icon>
                <div mat-line>Education</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item (click)="onListItemClick('exp')">
                <mat-icon mat-list-icon>work</mat-icon>
                <div mat-line>Experience</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item (click)="onListItemClick('certs')">
                <mat-icon mat-list-icon>badge</mat-icon>
                <div mat-line>Certifications</div>
            </mat-list-item>
        </mat-list>
    </div>

    <div class="content-div">

        <div *ngIf="visibilityMap.get('cloud')" class="cloud-div">
            <p>During my four years at college I learned a lot of fascinating things: Programming, Computer
                Architecture, DBs Management, Networking, AI... We even learned how a data center is built and managed.
                I truly believe that all that knowledge has been indispensable to properly understand the Cloud
                Paradigm.
            </p>

            <p>I was quite curious about Cloud Computing, so I started reading about its benefits and how it's been
                changing the world for the last decade. All that caught my attention, so I decided to learn more
                about it! As a first step, I began studying the contents of my first certification, the AWS Cloud
                Practitioner Certification (<a href="https://www.craft.do/s/wZydC9Vej4llUP" class="orange"
                    target="_blank">check out my notes!</a>).</p>

            <p>Once I ended up, I wanted to get certified and start my Cloud Career. Nevertheless, it felt quite rushed
                and I thought that I needed something else, I wanted to get my hands dirty and apply all the things I'd
                been learning during the preparation of the certificate. So I developed <span>Umbre??a
                    <img src="assets/img/umbrella-img/umbrella.png" alt="umbrella-logo" class="inline-umbrella-img">
                </span> as a way to get hands-on experience with AWS Services.</p>

            <p>Then, I felt prepared to take the exam and I passed it with flying colors! Right now I'm looking for an
                opportunity to start my Cloud Career and keep learning about this fascinating world</p>

            <div class="links-div">
                <a href="" target="_blank"> Umbre??a Trello Board</a>
                <a href="" target="_blank"> My Cloud Journey Trello Board</a>
            </div>
        </div>

        <div *ngIf="visibilityMap.get('edu')" class="education-div">
            <div class="item-div">
                <img src="assets/img/profile-img/usc-logo.png">
                <div class="item-info">
                    <h3>Bachelor of Science - BSc, Computer Science</h3>
                    <h4>Sep 2017 - Sep 2021</h4>
                    <h4>Grade: 8.48</h4>
                </div>
            </div>
            <mat-divider></mat-divider>

            <div class="item-div">
                <img src="assets/img/profile-img/cambridge-logo.png">
                <div class="item-info">
                    <h3>C1 Advanced - Grade A - CEFR Level C2</h3>
                    <h4>Issued Jan 2022 · No Expiration Date</h4>
                    <h4>Credential ID B7230564 - 16/11/1999</h4>
                </div>
            </div>
            <mat-divider></mat-divider>

            <div class="item-div">
                <img src="assets/img/profile-img/delf-logo.jpeg">
                <div class="item-info">
                    <h3>DELF B2</h3>
                    <h4>Issued Aug 2017 · No Expiration Date</h4>
                    <h4>Credential ID 034081-201706J-3546736</h4>
                </div>
            </div>
        </div>

        <div class="item-div" *ngIf="visibilityMap.get('exp')">
            <img src="assets/img/profile-img/televes-logo.jpeg">
            <div class="item-info">
                <h3>Software Engineer Intern</h3>
                <h4>Oct 2021 - Present</h4>
                <h4>Operate as a full-stack developer following DevOps principles</h4>
            </div>
        </div>


        <div *ngIf="visibilityMap.get('certs')">
            <div class="item-div">
                <img src="assets/img/profile-img/awsCP-logo.png">
                <div class="item-info">
                    <h3>AWS Certified Cloud Practitioner</h3>
                    <h4>Issued August 2022 · No Expiration Date</h4>
                    <h4>Earning AWS CCP validates cloud fluency and foundational AWS
                        knowledge</h4>
                </div>
            </div>

            <div class="item-div">
                <img src="assets/img/profile-img/google-pm.png">
                <div class="item-info">
                    <h3>Google Project Management Certificate</h3>
                    <h4>Issued March 2022 · No Expiration Date</h4>
                    <h4>Learn the basis of Project Management through 6 courses (+200h)</h4>
                </div>
            </div>
        </div>
    </div>
</div>