@use 'src/variables' as global_var;

@font-face {
  font-family: 'Courgette';
  src: local('Courgette'), url(./assets/fonts/Courgette/Courgette-Regular.ttf) format('truetype');
}

html,
body {
  height: 100%;
  box-sizing: border-box !important;
}

* {
  font-family: 'Courgette', cursive;
  font-size: 16px;
}

body {
  margin: 0;
  background: linear-gradient(180deg, #7615f5 15%, #cc2bf6 55%);

  ::-webkit-scrollbar {
    width: 10px; /* width of the entire scrollbar */
  }

  ::-webkit-scrollbar-track {
    background: #000; /* color of the tracking area */
  }

  ::-webkit-scrollbar-thumb {
    background-color: black; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 1px solid #ddd; /* creates padding around scroll thumb */
  }

  & img {
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
  }

  & .error-404 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div {
      font-size: 50px;
      margin-bottom: 30px;

      & img.inline-umbrella-img {
        position: relative;
        top: 3px;
        width: 40px;
        height: 40px;
        transform: rotate(global_var.$base-rotation);
      }
    }
  }
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(global_var.$base-rotation + 10) scale(1.15);
  }
  25% {
    transform: rotate(global_var.$base-rotation) scale(0.95);
  }
  50% {
    transform: rotate(global_var.$base-rotation - 10) scale(1.15);
  }
  75% {
    transform: rotate(global_var.$base-rotation) scale(0.95);
  }
  100% {
    transform: rotate(global_var.$base-rotation + 15) scale(1.15);
  }
}

img.inline-umbrella-img {
  position: relative;
  top: 3px;
  width: 20px;
  height: 20px;
  transform: rotate(global_var.$base-rotation);
}

